form{
   background-color: #99EDC3;
   margin: 20px;
   border-radius: 25px;
   height: 300px;
   width: 400px;
   text-align: center;
   padding: 20px;
   justify-content: center;
}
input label{
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:forestgreen;
    text-align: center;
    justify-content: center;
}
.button{
   font-size: 15pt;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: forestgreen;
   padding: 5px;
   border-radius: 15px;
   width: 90px;
   height: 35px;
   margin: 12px;
}
.externa{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 3000; 
    height:500px; 
    background-color: aquamarine;
    border-radius: 25px;
    color: forestgreen;
    padding: 20px;
    justify-content: center;
}
